body{
    background-color: #282c34; 
}
.BoxInit{
    background-color: #282c34;
    margin: auto;
    padding: auto;
    text-align: center;
}

#logoinit{
    width: 500px;
    height: 500px;
}

#conteinerinitbutton{
    margin: auto;
    padding: auto;
    text-align: center;
}

#conteinerinit{
    margin-top: 200px;
}

#initbutton{
    width: 200px;
    margin: 30px;
    height: 150px;
}